###############################################################################
# Ignore IDE specific settings.
###############################################################################
.vscode/

###############################################################################
# Ignore the node modules because they will be installed on a per-user basis.
###############################################################################
node_modules/

###############################################################################
# Ignore the environment variables because they contain sensitive data.
###############################################################################
.env

###############################################################################
# Ignore the data folder because it is bot specific.
###############################################################################
src/data/
